version: '3'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    restart: unless-stopped
    ports:
      - "9090:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - laravel_db
    networks:
      - laravel-network
    environment:
      DB_CONNECTION: mysql
      DB_HOST: laravel_db
      DB_PORT: 3306
      DB_DATABASE: laravel_database
      DB_USERNAME: laravel_user
      DB_PASSWORD: laravel_password

  laravel_db:
    image: mysql:8.0
    container_name: laravel_db
    restart: unless-stopped
    ports:
      - "3309:3306"
    environment:
      MYSQL_DATABASE: laravel_database
      MYSQL_USER: laravel_user
      MYSQL_PASSWORD: laravel_password
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_ROOT_HOST: '%'
    volumes:
      - dbdata:/var/lib/mysql
    networks:
      - laravel-network
    command: --default-authentication-plugin=mysql_native_password --bind-address=0.0.0.0

networks:
  laravel-network:
    driver: bridge

volumes:
  dbdata:
    driver: local
